body {
     font-family:  "Comic Sans MS", "Comic Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
	 text-align: center;
     background-color: #fff;
	 color:#000;

}
a {
    text-align: center;
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
	disp: block;
	border: 0px;
	
}
img {
	border:0px;
	disp: block;
}

.main-text {
	width: 50%;
	background-color:#000;
	text-align: center;
	font-weight: bold;
	color:#fff;


	margin: 0px auto 10px;
	background-color: rgba( 0, 0, 0, 0.5 );


}

.item-text {
	width: 400px;
	text-align: center;
	margin: 0px auto 10px;
}

.item-image {
	margin: 2px 2px 2px 2px;
}

.item-image img {
	width: 400px;
}



.item-badge img {
	height: 60px;
}

.item-badge {
	margin: 10px 2px 10px 2px;
	text-align: center;
}

.item-title {
	width: 600px;
	text-align: left;
	margin:0px auto 10px;
	font-size: 25px;
	font-weight: bold;
	color: #4fa0f3;
}

.item {
	width: 404px;
	text-align: left;
	margin:0px auto 40px;
	padding: 0px 0px 0px 0px;
	border-width: 1px 1px 1px 1px;
	border-color: #e2e2e2;
	border-style: solid;
	background-color: white;
}


.item-text a {
	color: #ffffff;
    text-decoration: none;
}
    